*.pyc
.torch
_ext
*.o
work
work/*
models
models/*
_ext/
flow_code/imageLib/libImg.a
flow_code/color_flow
flow_code/colortest
networks/channelnorm_package/build/*
networks/correlation_package/build/*
networks/resample2d_package/build/*
networks/channelnorm_package/dist/*
networks/correlation_package/dist/*
networks/resample2d_package/dist/*
networks/channelnorm_package/channelnorm_cuda.egg-info/*
networks/correlation_package/correlation_cuda.egg-info/*
networks/resample2d_package/resample2d_cuda.egg-info/*
